*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.search{
  margin: 22px;
  border-radius: 60px;
  background-color: blueviolet;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

.search h2{
  color: white;
}

.search input [text]{
  width: 80%;
  height: 40px;
  padding-left: 10px;
}